#absolute{
    position: absolute;
    top: 30px;
    right: 30px;
    width: 200px;
    height: 100px;
    background-color: aqua;
}
#fixed {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 200px;
    height: 100px;
    background-color: aquamarine;
}
#contenitore {
    width: 200px;
    height: 1000px;
}
#sticky {
    position:sticky;
    position: -webkit-sticky;
    top: 50px;
    width: 100px;
    height: 100px;
    background-color: aqua;
}